// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*li.logina {
	display: none;
}*/

.copyright a {
	margin-left: 0.5em;
	text-decoration: none;
	color: #333;
}
/*** Navigation bar typography ***/

.navbar-inverse .navbar-nav>li>a:hover {
	color: #436EEE;
}

.navbar-inverse {
	background-color: #FFFFFF;
}

.navbar-inverse .navbar-nav>li>a {
	color: black;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

.navbar-inverse {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
	font-size: 1.3em;
	font-weight: bold;
}

.navbar-fixed-top {
	border: none;
}

#bberl a {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
	color: black;
	background-color: transparent;
	text-decoration: none;
	transition: color 600ms;
	-webkit-transition: color 600ms;
	font-size: 1.5em;
	/*padding: 0 15px;*/
}

.home {
	text-decoration: none;
}

.navbar-toggle {
	background-color: black;
}

#navigacion ul li a {
	color: black;
}

/*** Navigation bar layout ***/

.nav {
  z-index: 1;
}

.anchor {
	padding-top: 80px;
}

body {
  position: relative;
}

body {
	padding-top: 80px;
	background-color: white;
}

/*** Sticky footer ***/

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 142px; 
}
.site-footer {
  background: #E3EEF7;
}

/*** Footer  layout ***/

.copyright {
	/*display: block;*/
	text-align: center;
	padding-top: 4em;
	margin-top: 5em;
}

/*** Landing page ***/

.old h1, h2 {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
	color: black;
	font-size: 2em;
	font-weight: bold;
}

.old h1:hover, h2:hover {
	color: #436EEE;
	text-decoration: none;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

.old {
	text-align: center;
}

/*** Carousel landing page ***/

.carousel-inner {
	height: 100%;
	max-width: auto;
}

#carusel {
	height: 100%;
	width: 50%;
}

/**** About ****/

#sobre h1 {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
	color: black;
	font-size: 2em;
	font-weight: bold;
}

#sobre h1:hover {
	color: #436EEE;
	text-decoration: none;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

#sobre h1 {
	text-align: center;
}

#sobre p {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
	color: black;
	font-size: 1.2em;
}

/*** Index ***/

.indexpic {
	/*max-width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;*/
	margin: 0 auto;
	width: 60%;
	padding-bottom: 5em;
}

#timething h1 {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
	color: black;
	font-size: 2em;
	font-weight: bold;
}

#timething h1:hover {
	color: #436EEE;
	text-decoration: none;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

#timething h1 {
	text-align: center;
}

#timething p {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
	color: black;
	font-size: 1.2em;
}

/*** FAQ page Typography ***/

.faqheader h2 {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

.faqheader h2:hover {
	color: #436EEE;
	text-decoration: none;
}

.faqheader, p {
	font-size: 1.2em;
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
}

/*** Contact page layout ***/

.faqheader h2 {
	text-align: center;
	padding-top: 10px;
}

#faque {
	width: 80%;
	margin: 0 auto;
	margin-top: 5em;
}

.my_class {
	text-align: center;
}

.form-group {
	text-align: left;
}

/**** Login page ****/
.loginz {
	margin-top: 5em;
}

.loginn {
	text-align: center;
	max-width: 250px;
	margin: 0 auto;
	padding: 15px;
}

.renderone {
	text-align: left;
}

.theclass {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
}

.loginn h2:hover {
	color: #436EEE;
	text-decoration: none;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

.loginn h2 {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
}

/*.chow {
	margin-top: 5em;
}*/

/*** Products index page ***/

.new h1 {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 2em;
}

.new h1:hover {
	color: #436EEE;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}



/*#productos {
	text-align: center;
	background-color: #FFFAFA;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.15), 
        0 10px 0 -5px #eee, 
        0 10px 1px -4px rgba(0,0,0,0.15), 
        0 20px 0 -10px #eee, 
        0 20px 1px -9px rgba(0,0,0,0.15); 
    
}*/

#productos h1 {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;	
	text-align: center;
	font-size: 1.8em;
	text-transform: uppercase;
}

#productos p {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;	
	font-size: 1.5em;
	color: blue;
	text-align: center;
	text-transform: lowercase;
}

/*** ***/

/*.loco {
	text-transform: lowercase;
}

.crazy {
	text-align: center;
}*/

/*** new.html.erb ***/
.newproduct {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;	
	text-align: center;
}

/***form_for ***/

#formfor {
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    max-width: 300px;
    position: relative;
}

.field, .actions {
	font-family: "Trebuchet MS";

}

#formfor .form-control {
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	/*-webkit-border-radius: 5px; */
	border: 2px solid grey;
}

/***form_tag ***/

.format {
	display: inline-block;
}

label.form-control {
	background-color: #E3EEF7;
	color: black;
	margin-top: 5px;
	font-family: Tahoma;
}

.more {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
}

/*** login page ***/

#lokin {
	text-align: center;
	max-width: 250px;
	padding: 15px;
	margin: 0 auto;
}

#lokin #imail {
	height: 19px;
}

#lokin #pas {
	height: 25px;
}

/*** sign_up page ***/

.sainap {
	text-align: center;
	max-width: 250px;
	padding: 15px;
	margin: 0 auto;
}

.sainap #paswan {
	height: 19px;
}

.sainaplinks {
	text-align: left;
}

.sainapblue {
	width: 87%;
}

/*** edit page ***/

#sainapedit {
	text-align: center;
	max-width: 250px;
	padding: 15px;
	margin: 0 auto;
}

/*** Show page ***/

.introshow h4 {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
	text-align: center;
	text-transform: lowercase;
}

.introshow h3 {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
	text-align: center;
	text-transform: uppercase;
}


.bigshowpic {
	width: 100%;
	margin: 0 auto;
}

/*.bigshowpic {
	width: 70%;
	height: 70%;
	margin: 0 auto;
}*/

.bigpicc, h4 p {
	font-family: Courier New, Lucida Sans Typewriter, Verdana, sans-serif;
}

/*** new-comment page ***/

#reviu {
	text-align: center;
	max-width: 250px;
	padding: 15px;
	margin: 0 auto;
}

/*** all_comments page ***/

.product-reviews {
	text-align: center;
}

/*** Media queries ***/

@media (max-width: 480px) {
	h1, h2 {
		font-size: 1.6em;
		font-weight: bold;
		text-transform: uppercase;
	}
}

@media (max-width: 480px) {
	#carusel, .indexpic {
		width: 100%;
	}
}

@media (max-width: 480px) {
	body {
		background-color: #E0D8FF;
	}
}

@media (max-width: 480px) {
	.site-footer {
		background-color: white;
	}
}
